* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
}
hr {
    width: clamp(10%, 50vw, 200%);
    margin: 20px 0; 
    border: 1.5px solid #333; 
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: clamp(300px, 50vw, 450px);
    color: white;
}
.logo img {
    width: clamp(10px, 50vw, 250px);
    height: clamp(10px, 50vw, 250px);
    border-radius: 50%;
    object-fit: cover;
    margin-top: 80px;
}
.web-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.web-links li {
    margin: 3px;
}
.web-links a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.web-links a:hover {
    color: grey;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-links li {
    margin: 10px 0;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:hover {
    text-decoration: underline;
}
.content {
    margin-left: 500px;
    padding: 20px;
}