* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: clamp(300px, 50vw, 450px);
    color: white;
}
.logo img {
    width: clamp(10px, 50vw, 250px);
    height: clamp(10px, 50vw, 250px);
    border-radius: 50%;
    object-fit: cover;
    margin-top: 80px;
}
.web-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.web-links li {
    margin: 3px;
}
.web-links a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.web-links a:hover {
    color: grey;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-links li {
    margin: 10px 0;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links a:hover {
    text-decoration: underline;
}
.content {
    margin-left: clamp(10px, 50vw, 500px); /* Ensure this matches or exceeds navbar width */
    padding: 50px;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    position: relative; /* Ensure content stays on top */
    z-index: 1; /* Higher than navbar if needed */
}
.content-item {
    border-top: 2.5px solid #333;
    margin-top: 50px;
    padding-top: 50px;
}
.school, .work-experience {
    margin-top: 35px;
}
.school *, .work-experience * {
    margin: 7.5px;
}
.school li, .work-experience li {
    margin: 15px;
}
.school p, .work-experience p {
    font-style: italic;
    color: grey;
}
.work-experience {
    margin-top: 35px;
}
.nav-content {
    margin: 5px;
    overflow-y: auto
}
.nav-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for cleaner look */
}
.nav-item {
    border-top: 1.5px solid white;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    padding-top: 20px;
}
.nav-item h2 {
    font-size: larger;
    margin-bottom: 15px;
}
.summary {
    padding-bottom: 15px;
}
.skills li {
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 8px;
}
.contact {
    margin-bottom: 20px;
    font-size: smaller;
}
.contact li{
    margin: 15px;
    list-style: none;
    text-align: center;
}
@media (max-width: 768px) {
    .navbar {
        width: 150px;
    }
    .logo img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 50px;
    }
    .content {
        margin-left: 170px;
        width: calc(100% - 170px);
        padding: 15px;
    }
}